name: Terraform Plan

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'information'
        type: choice
        options:
          - information
          - debug
          - warning
          - critical
      tags:
        description: 'Purpose of Run This Workflow?'
        required: true
        type: string

permissions:
  id-token: write
  contents: read

env:
  TF_WORKING_DIR: infra

jobs:
  plan:
    name: Plan infra with terraform
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ env.TF_WORKING_DIR }}

    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4

      - name: Configure Credentials with OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format 
        run: | 
          echo "Running terraform formate..."
          terraform fmt -check -recursive

      - name: Terraform Init
        run: | 
          echo "Initialising terraform..."
          terraform init -input=false
          
      - name: Terraform Validate
        run: |
          echo "Running terraform validate..."
          terraform validate

      - name: Run checkov
        uses: bridgecrewio/checkov-action@master
        with:
          framework: terraform 
          output_format: json

      - name: Terraform Plan
        run: |
          echo "Running terraform plan..."
          terraform plan -input=false -out=tfplan
          continue-on-error: false

      - name: Plan Summary
        run: |
          echo "Terraform plan created successfully"




    
  

