name: Terraform Destroy

on:
  workflow_dispatch:

env:
  TF_WORKING_DIR: infra

jobs:
  destroy:
    name: destroy infra with terraform
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ env.TF_WORKING_DIR }}

    steps:
      # get source code
      - name: Checkout resource code
        uses: actions/checkout@v4

      # configure AWS credentials
      - name: Configure Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Destroy
        run: terraform destroy -input=false -auto-approve
